## 데이터 분석 준비하기

In [1]:
%pwd

'C:\\Python\\Naver_Boostcourse'

In [2]:
import os
os.getcwd()

'C:\\Python\\Naver_Boostcourse'

In [3]:
os.getcwd()

'C:\\Python\\Naver_Boostcourse'

In [36]:
from glob import glob

file_name = glob('data/*.csv')[0]
file_name

'data\\도로교통공단_월별 주야별 교통사고 통계_20211231.csv'

In [9]:
import pandas as pd
pd.read_csv(file_name, encoding='cp949')
#UnicodeDecodeError -> encoding='cp949' 삽입
#한글 윈도우에서 사용되는 인코딩 방식

    발생월 주야   사고건수  사망자수  중상자수   경상자수  부상신고자수
0     1  주   8821   107  2421   9631     707
1     1  야   6088    90  1627   6510     427
2     2  주   8756   107  2468   9681     670
3     2  야   5755    96  1572   6286     483
4     3  주  10274   128  2787  11163     820
5     3  야   6326    81  1775   6859     524
6     4  주  11032   119  3105  11935     819
7     4  야   6371    93  1878   6887     518
8     5  주  11025   154  3010  12132     922
9     5  야   6353   101  1762   6779     520
10    6  주  11310   124  3286  12244     865
11    6  야   6265   103  1733   6593     569
12    7  주  11408   139  3132  12435     892
13    7  야   6586   115  1829   7024     558
14    8  주  10407   129  2878  11541     854
15    8  야   6011   118  1638   6365     506
16    9  주  10869   131  2959  11885     856
17    9  야   6143   115  1747   6299     506
18   10  주  11229   156  3064  12129     882
19   10  야   7071   156  1935   7732     565
20   11  주  11223   163  3124  11890     922
21   11  야   6873   122  1884   7284     602
22   12  주  10318   149  2658  10936     916
23   12  야   6616   120  1633   7063     517

In [18]:
file_csv = glob('data/store/*_*_*.csv')
file_csv

['data/store\\소상공인시장진흥공단_상가(상권)정보_강원_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_경기_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_경남_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_경북_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_광주_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_대구_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_대전_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_부산_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_서울_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_세종_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_울산_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_인천_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_전남_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_전북_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_제주_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_충남_202209.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_충북_202209.csv']

In [22]:
#pd.read_csv(file_csv[0]) -- 인코딩 필요없이 잘 불러와지는지 확인

In [24]:
file_list =[]
for file_csv_name in file_csv:
    print(file_csv_name)
    temp = pd.read_csv(file_csv_name, low_memory=False)
    file_list.append(temp)

data/store\소상공인시장진흥공단_상가(상권)정보_강원_202209.csv
data/store\소상공인시장진흥공단_상가(상권)정보_경기_202209.csv
data/store\소상공인시장진흥공단_상가(상권)정보_경남_202209.csv
data/store\소상공인시장진흥공단_상가(상권)정보_경북_202209.csv
data/store\소상공인시장진흥공단_상가(상권)정보_광주_202209.csv
data/store\소상공인시장진흥공단_상가(상권)정보_대구_202209.csv
data/store\소상공인시장진흥공단_상가(상권)정보_대전_202209.csv
data/store\소상공인시장진흥공단_상가(상권)정보_부산_202209.csv
data/store\소상공인시장진흥공단_상가(상권)정보_서울_202209.csv
data/store\소상공인시장진흥공단_상가(상권)정보_세종_202209.csv
data/store\소상공인시장진흥공단_상가(상권)정보_울산_202209.csv
data/store\소상공인시장진흥공단_상가(상권)정보_인천_202209.csv
data/store\소상공인시장진흥공단_상가(상권)정보_전남_202209.csv
data/store\소상공인시장진흥공단_상가(상권)정보_전북_202209.csv
data/store\소상공인시장진흥공단_상가(상권)정보_제주_202209.csv
data/store\소상공인시장진흥공단_상가(상권)정보_충남_202209.csv
data/store\소상공인시장진흥공단_상가(상권)정보_충북_202209.csv

In [25]:
file_list[0]

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,25033300,동그라미중고타이어,NaN,D,소매,D23,자동차/자동차용품,D23A04,타이어판매,G45211,...,4215011100110960006010791,NaN,"강원도 강릉시 가작로 270, (포남동)",210954,25488,1,NaN,NaN,128.904472,37.770252
1,17174549,세인트존스호텔Ohcrab,NaN,O,숙박,O01,호텔/콘도,O01A01,호텔/콘도,NaN,...,4215011300100010001017124,세인트존스호텔,"강원도 강릉시 창해로 307, (강문동)",210120,25467,NaN,NaN,NaN,128.920908,37.791299
2,17174079,평창라마다호텔,NaN,O,숙박,O01,호텔/콘도,O01A01,호텔/콘도,NaN,...,4276038024102450036000001,NaN,"강원도 평창군 대관령면 오목길 107, (횡계리)",232954,25342,NaN,NaN,NaN,128.717971,37.660051
3,17173904,호텔탑스텐스카이라운지,NaN,O,숙박,O01,호텔/콘도,O01A01,호텔/콘도,NaN,...,4215035029100920001000002,NaN,"강원도 강릉시 옥계면 헌화로 455-34, (금진리)",210831,25633,NaN,NaN,NaN,129.052902,37.654680
4,24412526,레이디가구,NaN,D,소매,D15,가구소매,D15A01,일반가구소매,G47520,...,4213011500111400020035715,NaN,"강원도 원주시 송삼길 156-19, (무실동)",220150,26385,NaN,NaN,NaN,127.917307,37.327668
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108394,18767035,빽다방,철원동송점,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,4278025921106800093022773,다이아나,"강원도 철원군 동송읍 금학로218번길 2, (이평리)",269816,24015,NaN,1,NaN,127.218438,38.208149
108395,18756448,프로타이어매장,NaN,F,생활서비스,F14,자동차/이륜차,F14A01,자동차정비/카센타,NaN,...,4281025021003240010008893,NaN,"강원도 인제군 인제읍 인제로 155, (상동리)",252806,24625,NaN,NaN,NaN,128.167905,38.067175
108396,18761043,피투에이치,NaN,F,생활서비스,F01,이/미용/건강,F01A01,여성미용실,S96112,...,4217010100008500000007575,삼양골드3차상가,"강원도 동해시 중앙로 248, (천곡동)",240812,25769,상가,5,NaN,129.114511,37.522807
108397,18755510,미르건축,NaN,F,생활서비스,F15,주택수리,F15A07,조립칸막이/파티션,F42499,...,4213011200107650027010109,NaN,"강원도 원주시 새동네4길 4-1, (태장동)",220966,26326,NaN,NaN,NaN,127.955352,37.355731
108398,18765328,아르블랑,NaN,F,생활서비스,F01,이/미용/건강,F01A03,비만/피부관리,NaN,...,4213011200110370001010617,NaN,"강원도 원주시 현충로 282, (태장동)",220961,26318,NaN,1,NaN,127.949444,37.378527

In [29]:
len(file_list)

17

In [28]:
df = pd.concat(file_list)
df.shape

(2446771, 39)

In [30]:
df.head()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,25033300,동그라미중고타이어,NaN,D,소매,D23,자동차/자동차용품,D23A04,타이어판매,G45211,...,4215011100110960006010791,NaN,"강원도 강릉시 가작로 270, (포남동)",210954.0,25488,1,NaN,NaN,128.904472,37.770252
1,17174549,세인트존스호텔Ohcrab,NaN,O,숙박,O01,호텔/콘도,O01A01,호텔/콘도,NaN,...,4215011300100010001017124,세인트존스호텔,"강원도 강릉시 창해로 307, (강문동)",210120.0,25467,NaN,NaN,NaN,128.920908,37.791299
2,17174079,평창라마다호텔,NaN,O,숙박,O01,호텔/콘도,O01A01,호텔/콘도,NaN,...,4276038024102450036000001,NaN,"강원도 평창군 대관령면 오목길 107, (횡계리)",232954.0,25342,NaN,NaN,NaN,128.717971,37.660051
3,17173904,호텔탑스텐스카이라운지,NaN,O,숙박,O01,호텔/콘도,O01A01,호텔/콘도,NaN,...,4215035029100920001000002,NaN,"강원도 강릉시 옥계면 헌화로 455-34, (금진리)",210831.0,25633,NaN,NaN,NaN,129.052902,37.654680
4,24412526,레이디가구,NaN,D,소매,D15,가구소매,D15A01,일반가구소매,G47520,...,4213011500111400020035715,NaN,"강원도 원주시 송삼길 156-19, (무실동)",220150.0,26385,NaN,NaN,NaN,127.917307,37.327668

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2446771 entries, 0 to 94171
Data columns (total 39 columns):
 #   Column     Dtype
---  ------     -----
 0   상가업소번호     int64
 1   상호명        object
 2   지점명        object
 3   상권업종대분류코드  object
 4   상권업종대분류명   object
 5   상권업종중분류코드  object
 6   상권업종중분류명   object
 7   상권업종소분류코드  object
 8   상권업종소분류명   object
 9   표준산업분류코드   object
 10  표준산업분류명    object
 11  시도코드       int64
 12  시도명        object
 13  시군구코드      int64
 14  시군구명       object
 15  행정동코드      int64
 16  행정동명       object
 17  법정동코드      int64
 18  법정동명       object
 19  지번코드       int64
 20  대지구분코드     int64
 21  대지구분명      object
 22  지번본번지      int64
 23  지번부번지      float64
 24  지번주소       object
 25  도로명코드      int64
 26  도로명        object
 27  건물본번지      int64
 28  건물부번지      float64
 29  건물관리번호     object
 30  건물명        object
 31  도로명주소      object
 32  구우편번호      float64
 33  신우편번호      int64
 34  동정보        object
 35  층정보        object
 36  호정보        float64
 37  경도         float64
 38  위도         float64
dtypes: float64(6), int64(11), object(22)
memory usage: 746.7+ MB